@model AutoTrader.Models.Cars.CarDetailsModel

@if (Model.IsSold)
{
    <h2 class="text-center text-warning">This car is already sold!</h2>
}

<div class="row mt-60">
    <div class="col-md-4">
        <img src="@Model.ImageUrl" class="img-responsive" />
    </div>
    <div class="col-md-4">
        <h2>@Model.Make @Model.Model, @(Model.Color != null ? Model.Color : string.Empty)</h2>
        <h3>@Model.Year - @Model.Price BGN</h3>
        <p class="lead">
            <a href="mailto:@Model.ContactInformation">@Model.ContactInformation</a>
            <br />
            <br />
            <a class="btn btn-default " href="/Cars/All?user=@Model.ContactInformation">See All Cars By This User</a>
        </p>
    </div>
    <div class="col-md-4">
        <p>
           <h4>@Model.Engine.ToString("F1")l - @Model.EngineType</h4> 
        </p>
        <p>
            <h4>
                @if (Model.Power != null)
                {
                    <span>@Model.Power hp.</span>
                }
            </h4>
            
        </p>
        <p>
            @{ 
                var options = new List<SelectListItem>
                {
                    new SelectListItem { Text = "1", Value = "1", Selected = true }
                };

                for (int i = 2; i <= 24; i++)
                {
                    options.Add(new SelectListItem
                    {
                        Text = i.ToString(),
                        Value = i.ToString()
                    });
                }
            }

            @if (Model.ContactInformation != User.Identity.Name)
            {
                using (Html.BeginForm("Sold", "Cars", FormMethod.Get))
                {
                    @Html.Hidden("CarId", Model.Id)
                    <span>Buy this car on leasing for @Html.DropDownList("Months", options) months!</span>
                    <input type="submit" class="btn btn-primary @(Model.IsSold ? "disabled" : string.Empty) mt-60" value="Buy on free lease!" />
                }
            }

        </p>
    </div>
</div>
