@model IEnumerable<AutoTrader.Models.Leasing.UserLeasingModel>

<h2 class="text-center">My Purchases</h2>

<table class="table table-bordered table-responsive table-striped table-hover">
    <tr>
        <td>
            Date
        </td>
        <td>
            Leasing time in Months
        </td>
        <td>
            Car
        </td>
        <td>
            Price
        </td>
    </tr>
    @foreach (var leasing in Model)
    {
        <tr>
            <td>
                @leasing.SoldOn.ToString("dd/MM/yyyy")
            </td>
            <td>
                @leasing.Months
            </td>
            <td>
                @leasing.CarName
                <img class="pull-right" src="@leasing.CarImgUrl" style="width: 100px"/>
            </td>
            <td>
                @leasing.TotalPrice
            </td>
        </tr>
    }
</table>
