@model IEnumerable<AutoTrader.Models.Post>
@using AutoTrader.Classes;
@{
    ViewBag.Title = "Helpful information";
}

<h2>Helpful information</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Content
        </th>
        <td>
            Author
        </td>
        <th>
            Date
        </th>
        <td>
            Action
        </td>
        <th></th>
    </tr>

@foreach (var item in Model.OrderByDescending(i => i.Date)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Utils.CutText(item.Content)
        </td>
        <td>
           @if (item.Author != null)
           {
                @item.Author.UserName
           }
           else
           {
               <i>Unknown author</i>
           }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
